<!DOCTYPE html>
<html>
<head>
  <title>Simple form theme</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "simple_form/theme/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
